# Ignore node_modules
node_modules

# Ignore logs
logs
*.log

# Ignore environment variables
.env

# Ignore test coverage files
coverage

# Ignore Dockerfile and docker-compose file
Dockerfile
docker-compose.yml

# Ignore any other sensitive or unnecessary files
.DS_Store
*.swp

# Ignore npm debug logs
npm-debug.log
yarn-debug.log
yarn-error.log
